.nav-link{
    width: 180% !important;
}
.flex-container {
    display: flex !important;
    background-color: rgb(255, 255, 255) !important;
    
  }
  
  .flex-container > div {
    background-color: #fffefe !important;
    margin: 10px !important;
    padding: 10px !important;
    font-size: 20px !important;
  }
  .Menu{
    width:72% !important;
    align-items: left !important;
    float: left !important;
  }
  .Menu a{
    text-decoration: none !important;
  }
  
  .Content{
    width:75% !important;
    margin-right: 5px !important;
  }  
  
  
  .bg-light{
    height: 60px !important;
  }
  #v-pills-home-tab,#v-pills-profile-tab,#v-pills-disabled-tab,
  #v-pills-profile-tab,#v-pills-messages-tab,#v-pills-settings-tab{
    text-align: left !important;
  }

.row{
  margin-left: 10% !important;
}

#message{
  height:max-content !important;
  margin-right:20px !important;
  margin-top:10px !important;
}


#search{
  color:rgb(72, 71, 71) !important;
  border-color: #c76b32 !important;
}

#search:hover{
  color:white !important;
  background-color: #c76b32 !important;
}



