.nav-link{
    width: 180% !important;
}
.flex-container {
    display: flex !important;
    background-color: rgb(255, 255, 255) !important;
    
  }
  
  .flex-container > div {
    background-color: #fffefe !important;
    margin: 10px !important;
    padding: 10px !important;
    font-size: 20px !important;
  }
  .Menu{
    width:72% !important;
    align-items: left !important;
    float: left !important;
  }
  .Menu a{
    text-decoration: none !important;
  }
  
  .Content{
    width:75% !important;
    margin-right: 5px !important;
  }  
  
  
  .bg-light{
    height: 60px !important;
  }
  #v-pills-home-tab,#v-pills-profile-tab,#v-pills-disabled-tab,
  #v-pills-profile-tab,#v-pills-messages-tab,#v-pills-settings-tab{
    text-align: left !important;
  }

.row{
  margin-left: 10% !important;
}

#message{
  height:max-content !important;
  margin-right:20px !important;
  margin-top:10px !important;
}


#search{
  color:rgb(72, 71, 71) !important;
  border-color: #c76b32 !important;
}

#search:hover{
  color:white !important;
  background-color: #c76b32 !important;
}

.card{
    margin: 10px 2px !important;
    border-radius: 15px !important;
  }
.card-body{
  height:fit-content !important;
  text-align: center !important;
  border-radius: 15px !important;
}
.card-title{
  font-weight: 700 !important;
  font-size: 30px !important;
  font-family: "poppins",sans-serif !important;
}

#members{
    background-image: linear-gradient(180deg,#bae1eb,#62bfd3);
  }
  #cooperatives{
    background-image: linear-gradient(180deg,#f7c0d1,#de9cf0);
  }
  #sedos{
    background-image: linear-gradient(180deg,#ffdde1,#ee9ca7);
  }
  #sector-agronomists{
    background-image: linear-gradient(180deg,#d9edfb,#8f9faa);
  }
  #district-agronomists{
    background-image: linear-gradient(180deg,#de6262,#ffb88c);
  }
  #managers{
    background-image: linear-gradient(180deg,#dd5e89,#f7bb97);
  }
  #rab-employees{
    background-image: linear-gradient(180deg,#dd5e89,#f7bb97);
  }
  #naeb-employees{
    background-image: linear-gradient(180deg,#d9edfb,#8f9faa);
  }
  #diseases{
    background-image: linear-gradient(180deg,#ffdde1,#ee9ca7);
  }
 