.card-container1{
    width: 40% !important;
    height:fit-content !important;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.802);
    padding: 10%;
    margin-top:14.5%;
    margin-left: 30% !important;
    margin-right: 30% !important;
    display: none;
    justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
}
.card-container1 h2 {
    text-align: center !important;
    color: white !important;
}
.mb-3 button{
    width: 100% !important;
    border-radius: 20px !important;
    border-color:#ecb191 !important;
    background-color:#ecb191 !important;
    color: black !important;
    font-size: 20px !important;
    font-weight: 600;
}
.mb-3 button:hover{
    background-color: #e69c74 !important;
    
}
.input-icon i{
    position: absolute !important;
    font-size: 25px !important;
    padding:4px !important;
    padding-left: 3% !important;
  }
input[type=email],[type=password]{
    padding-left:15% !important;
    border-radius: 20px !important;
}


.bg-active{
    visibility: visible;
    opacity:1
  }
